(
    extensions: {
        "kvarn": [
            Cors({
                "/logo.svg": ( cache: 1209600, origins: ["https://github.com", "https://doc.kvarn.org"] ),
                "/favicon.svg": ( cache: 1209600, origins: ["https://doc.kvarn.org"] ),
            })
        ],
        "kvarn-doc": [
            Redirect(Exact("/index.html"), "kvarn/"),
            Csp({ "/*": Empty }),
        ]
    },
    hosts: [
        Plain (
            cert: "kvarn-cert.pem",
            pk: "kvarn-pk.pem",
            path: "./",
            extensions: ["base", "kvarn"],
            name: Some("kvarn.org"),
            options: (
                disable_client_cache: true,
                disable_server_cache: true,
                hsts: true,
            ),
            addons: [
                SearchEngine (
                    api_route: "/search",
                    kind: Lossless,
                    ignore_paths: ["/rsync-ignore"],
                ),
                AutomaticCertificate (
                    contact: "mailto:main@icelk.dev",
                ),
            ],
        ),
        Plain (
            cert: "doc.kvarn-cert.pem",
            pk: "doc.kvarn-pk.pem",
            path: "../kvarn/target/doc",
            extensions: ["base", "kvarn-doc"],
            name: Some("doc.kvarn.org"),
            options: (
                disable_client_cache: true,
                disable_server_cache: true,
                public_data_directory: ".",
                hsts: true,
            ),
            addons: [
                AutomaticCertificate (
                    contact: "mailto:main@icelk.dev",
                ),
            ],
        ),
    ],
)
