$[head]
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no" />

        $[dependencies]
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <link rel="stylesheet" type="text/css" href="/fonts/fonts.css" />
        <link rel="stylesheet" type="text/css" href="/md.css" />
        <link rel="icon" type="image/svg" href="/favicon.svg" />
        <script src="/script.js" defer></script>

        $[highlight]
        <link rel="stylesheet" href="/highlight.js/styles/nord.css" />
        <script src="/highlight.js/highlight.pack.js" defer></script>
        <style>
            md > pre {
                padding: 0 !important;
            }
        </style>

        $[close-head]
    </head>

    $[navigation]

    <body>
        <div id="top-bar">
            <span class="container l">
                <a href="/security/" class="item">Security</a>
                <a href="/features/" class="item">Features</a>
            </span>
            <a href="/" class="middle">
                <img src="/logo.svg" alt="Kvarn logo" />
            </a>
            <span class="container r">
                <a href="/extensions/" class="item">Extensions</a>
                <a href="/ecosystem/" class="item">Ecosystem</a>
            </span>
        </div>

        $[footer]
    </body>
</html>
